{
  background-color: black;
}

h2.titel{
  border: 1px solid black;
  width: 200px;
  display: inline-block;
}
a {
  position: static;
  vertical-align: top;
}

table, th, td{
  border: 1px solid black;
  text-align: center;
}

table{
  border-collapse: collapse;
}

.eigenschappenWijzigen{
  background-color: white;
  background-position: center;
  text-align: center;
  padding-bottom: 10px;
}

.gerechttoevoegen{
  background-color: white;
  background-position: center;
  text-align: center;
  vertical-align: top;
  padding-bottom: 10px;
}

.gerechtverwijderen{
  background-color: white;
  background-position: center;
  text-align: center;
  padding-bottom: 10px;
}

paper-input, paper-textarea{
  max-width: 400px;
  margin: auto;
}
