h2.titel{
  border: 1px solid black;
  width: 200px;
  display: inline-block;
}
a {
  position: static;
  vertical-align: top;
}

table, th, td{
  border: 1px solid black;
  text-align: center;
}

table{
  border-collapse: collapse;
}

.gerechttoevoegen{
  background: grey;
  text-align: center;
}
